#container {
  display: grid;
  grid: repeat(2, 60px) / auto-flow 80px;
  width: 960px;
  height: auto;
}


.content{
  border: 1px solid black;
}


#headline {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 16px;
 font-size: larger;
}

#body {
  display: flex;
  justify-content: space-between;
}