#headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  font-size: larger;
 }
 
 
#body {
   display: flex;
   flex-direction: row;
 }

#container {
  display: grid; 
  grid-template-columns: repeat(16, auto); 
  grid-template-rows: repeat(16, auto);
  gap: 0px 0px; 
  width: 300px;
  height: 300px; 
}


/*.content{
}*/



